body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    background-image: linear-gradient(white, rgb(242, 230, 250));
}
section{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 10%;
}
h1{
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 50px;
    margin: 0;
}
.pink-color{
    color: pink;
}
.top-section{
    
    margin-top: 90px;
}
.flex_container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;

}
.half-width p{
    margin-top: 25px;
    margin-bottom: 50px;
}
.half-width img{
     width: 80%;
}
#top-heading-left-border{
    border-left: 4px solid rebeccapurple;
    border-radius: 2px;
    padding-left: 10px ;
}
/* #top-heading-left-border h1{
    margin: 0;
} */
#scroll-down-paragraph{
    padding: 30px 0px;
}
.button{
    margin: 200px 0px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-image: linear-gradient(pink, purple);
    padding: 10px 40px;
    border-radius: 5px;
}
.mission-items{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 20px;
 }
.mission-2020 h2{
    text-align: center;
    padding-bottom: 20px;
}
.mission-2020 h3{
margin-top: 0;
}
.mission-items img{
    height: 100px;
    width: 100px;
    padding: 20px;
}
.mission-items p{
    margin-bottom: 50px;
    padding-right: 5%;
}
#mission{
    background-color: rgb(248, 225, 248);
}
#vision{
    background-color: rgb(194, 214, 238);
}
#goals{
    background-color: rgb(235, 186, 247);
}
.develop-wl-section{
    background-image: url(images/shapes/shape-1.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left;
}
.develop-wl-section h2{
    font-size: 40px;
}
#develop-wl-section-img{
    padding-right: 0;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
}
footer h4{
    font-size: 25px;
}
footer p{
    padding-bottom: 0;
}
#purple{
    color: violet;
}
.web-development-section h2{
    color: purple;
    text-align: center;
}
#web-dev-paragraph{
    margin-left: 0;
    margin-right: 2%;
    margin-bottom: 7%;
    padding-left: 20px;
    border: 5px solid  rgb(242, 230, 250);
    border-radius: 20px;
    box-shadow: 10px 10px 40px rgb(85, 71, 85);
}
